{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/digimons/digimon-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/Digitama.jpg' %}" alt="A skater boy cat" />
  </div>
  <div class="digimon-details">
    <h1>{{ digimon.name }}</h1>
    <p>A {{ digimon.type }} type {{ digimon.level }} Digimon</p>
    <p><small>{{ digimon.description }}</small></p>
  </div>
  <div class="digimon-actions">
    <a href="{% url 'digimon_update' digimon.id %}" class="btn warn">Edit</a>
    <a href="{% url 'digimon_delete' digimon.id %}" class="btn danger">Delete</a>
  </div>
</section>
{% endblock %}
